!!! 5
html
  head
    title config
    style .dayBlock {margin:1em;width: 160px;display: table-cell;} .inputTime {width:40%;display:inline;}
  body
    h1 Startzeiten verstellen
    form(method="post", action="updateConfig")
      input(type="submit", value="Speichern")
      each day in days
        .dayBlock
          span #{day.name}
          br
          input(class="inputTime", maxlength="2", value="#{day.startHour}", name="#{day.name}_hour")
          input(class="inputTime", maxlength="2", value="#{day.startMinute}", name="#{day.name}_minute")
      input(type="submit", value="Speichern")
    img(src="http://thecatapi.com/api/images/get?format=src") 